@page "/allreviews"
@using Assignment2.Shared
@inject HttpClient Http

<PageTitle>All Reviews</PageTitle>

<button @onclick=getreviews>Show All Reviews</button>

@if (reviews == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Name</th>
                <th>Feedback</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in reviews)
            {
                <tr>
                    <td>@review.ID</td>
                    <td>@review.Product</td>
                    <td>@review.Name</td>
                    <td>@review.Feedback</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Reviews[]? reviews;
    private async void getreviews()
    {
        reviews = await Http.GetFromJsonAsync<Reviews[]>("/GetAllReviews");
    }
}
